// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #3F3F3F;

}
#results_length, #results_filter, #results_paginate, #results_info {
  color: #6E6E6E !important;
}

table {
  padding-top: 5px;
}

input, select {
  scrollbar-arrow-color: #6E6E6E;
  scrollbar-base-color: #6E6E6E;
  background-color: #6E6E6E;
 color: white;
 border-color: #6E6E6E;
  border-style: solid;
}

a {
  color: #b8e368;
}
a:hover {
  color: #c1c968;
}

a:visited {
 color: #9ED930;
}


input#search_search
{
 width: 50%
}
th
{
  text-align: left
}
tr {
  background-color: #6E6E6E !important;

}

.paging_full_numbers a.paginate_button {
  color: blue !important;
}

th.sorting, th.sorting_asc, th.sorting_desc, .current {
  color: #E46A6B !important;
  background-color: #040404 !important;
}

header
{
  color: #E46A6B;
  width: 100%;
  border-bottom: 2px;
  border-color: black;
  text-align: center;
  font-size: 30px;
  line-height: 108px;
  height: 108px;
}

.success, .fail {
  display: none;
}

.success,.fail {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('http://i.imgur.com/52RfplC.png'); // TODO: Put somewhere not imgur
}

.fail {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('http://i.imgur.com/HBZRzUg.png'); // prooobably fine for dev
}
